.container__left{
    width: 35%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score_box{
    background-color: white;
    padding: 30px;
    font-weight: 800;
    font-size: 3rem;

}

.frame{
    border: 3px solid #000;
    border-radius: 5px;
}

.card_details{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
}

#card-name{
    font-size: 1rem;
    font-weight: 800;
}

#card-type{
    font-size: 2rem;
    font-weight: 800;
}